---
import Layout from '../layouts/Layout.astro'
import "../styles/fonts.css"
import MailIcon from '../../public/icons/MailIcon.astro'
import LinkedInIcon from '../../public/icons/LinkedInIcon.astro'
import {getI18N} from "../i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---
<Layout>
    <section class="hero pb-[11rem] md:pb-[15rem]" >
        <div>
            
            <div class="header flex flex-col-reverse py-11 md:py-24 gap-[15px] sm:flex-row sm:gap-0 justify-between items-start">
                <div>   
                    <h1 class="titleHeader">{i18n.WELCOME}</h1> 
                    <h3 class="subTitleHeader"><strong>Front end</strong> developer.</h3>
                </div>
                <img src="/images/avatar2.jpg" alt="foto de avatar">
            </div>
            <div class="text_hero">
                <p>{i18n['HERO_DESCRIPTION.1']}</p><strong>{i18n['HERO_DESCRIPTION.2']}</strong><p set:html={i18n['HERO_DESCRIPTION.3']}/><strong>{i18n['HERO_DESCRIPTION.4']}</strong>
            </div>
              
        </div>
        <div class="CTA gap-[10px] sm:gap-[40px] pt-10 md:pt-20 " >
            <div>
                <h4 class="titleCTA">{i18n.CTA_TITLE}</h4>
                <h5 class="subCTA">{i18n.CTA_SUB}</h5>
            </div>
            <nav>
                <a href="">
                    <div class="available">
                        <MailIcon size="iconCTA" /> 
                        {i18n.BTN_CONTACT}
                    </div>
                </a>
                <a href="">
                    <div class="available">
                        <LinkedInIcon width="17px" height="17px" /> 
                        LinkedIn
                    </div>
                </a>
            </nav>
        </div>
    </section>
   
</Layout>
<style>
    /* .avatar{
        display: flex;
        align-items: center;
        gap:15px;
    } */

    .header{
        max-width: 52rem;
    }

    img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .available{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        font-weight: 700;
        font-size: clamp(.8888888888888888rem, calc(.85965rem + .1462vw), 1rem);
        color: #b86bff;
        border: solid 1px rgba(255, 255, 255, 0.2);
        transition: all 0.3s ease;
        padding: 4px 16px;
        gap:5px;
    }
    a{
        height: 50px;
        display: flex;
        place-items: center;
    }

    a:hover .available {
    background-color: rgba(69, 41, 95, 0.6);
    border-color: transparent;
    }
    
    .hero{
        display: flex;
        max-width: 55rem;
        width: 100%;
        flex-direction: column;
    }
    .titleHeader{
        font-family: "Onest";
        font-weight: 800;
        font-size: clamp(1.802032470703125rem, calc(1.49047rem + 1.55783vw), 2.9859839999999993rem);
        opacity: .9;
    }
    

    .subTitleHeader{
        color: #fafaf980;
        font-weight: 700; 
        font-size: clamp(1.423828125rem, calc(1.25284rem + .85496vw), 2.0735999999999994rem);
        margin-top: 5px;
    }
    strong{
        color: #b86bff;
    }

    .text_hero{
        color: #fafaf9A6;
        font-weight: 500;
        font-size: clamp(1.125rem, calc(1.04211rem + .41447vw), 1.44rem);   
    }

    p{
        display: inline;
    }

    /* .hero{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;   
        gap: 35px;    
    } */

    .titleCTA{
        color: #fafaf9c7;
        font-weight: 700; 
        font-size: clamp(1.423828125rem,calc(1rem + .5496vw),1.6rem);
    } 

    .subCTA{
        color: #fafaf980;
        font-weight: 400; 
        font-size: clamp(1.125rem, calc(.9rem + .41447vw), 1.3rem);
    }

    .CTA{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        max-width: 47rem;
    }

    nav{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
</style>